@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-Container {
  display: flex;
  width: 100%;
  background-color: #2b3c46;
  color: #6e7880;
  font-family: "Nunito";
  font-size: 0.8rem;
  min-height: 100vh;
}
/* .user-Container {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  border-right: 1px solid white;
  background-color: green;
} */

.profile-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  margin: 1rem 1.5rem 3rem 0rem;
  color: white;
}
.feature-Container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem 2rem 0rem;
  width: 18%;
  border-right: 0.5px solid #6e7880;
}
.featureList {
  list-style: none;
}
.feature-Container ul li {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.feature-Container ul img {
  margin-right: 1.2rem;
}

.featureList li:hover {
  cursor: pointer;
  color: white;
}

.movie-Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #6e7880;
}
.header-movie-dashboard {
  display: flex;
  /* padding: 0.1rem 1rem; */
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}
.search-Btn {
  background-color: #35967a;
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  margin-right: 2rem;
}
.poster-Container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.poster-Item {
  width: 200px;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float: left;
  text-align: center;
  word-wrap: break-word;
}
.imgTag {
  /* width: 70%;
  height: 230px; */
  border-radius: 5%;
}
.rating-Btn {
  background-color: #eea94c;
  padding: 0.5rem 0.5rem;
  position: relative;
  left: 90px;
  bottom: 60px;
  border-radius: 50%;
  color: #ffe19c;
  font-weight: bold;
  font-size: 0.8rem;
}

.search-Bar {
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: whitesmoke;
  outline: none;
  border-radius: 2%;
}
.search-Container {
  margin-right: 2rem;
  display: flex;
  width: 50%;
  margin-top: 1.5rem;
  align-self: flex-end;
}

.heading-Allmovies {
  display: flex;
  width: 95%;
  margin-right: 2rem;
  margin-left: 2rem;
  justify-content: space-around;
  margin-bottom: 1rem;
  color: white;
}
.all-Movie-Item {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 2rem;
  /* align-items: center; */
}
.all-Movie-Item h4:hover {
  color: white;
}
.all-Movie-Container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
#title-Container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  position: relative;
}
/* .movie-Title :hover{
cursor: pointer;
color: white;  
} */

.tooltip {
  position: relative;
  display: flex;
}
/* Tooltip container */
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#title-Container img {
  width: 30px;
  height: 30px;
}

.pagination {
  display: flex;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  margin-top: 2rem;
  justify-content: center;
}

.pagination > .active > a {
  z-index: 3;
  color: #fff;
  background-color: #6e7880;
  border-color: #6e7880;
  cursor: default;
}
.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: white;
  background-color: #2b3c46;
  border: 1px solid #6e7880;
  margin-left: -1px;
}
.text-center {
  text-align: center;
}

.pagination > li {
  display: inline;
}
.pagination > .disabled > a {
  color: #777;
  background-color: #2b3c46;
  border-color: #6e7880;
  cursor: not-allowed;
}
.pagination > li :hover {
  background-color: #6e7880;
}
.remove-Btn {
  position: absolute;
  left: 93%;
  top: 5%;
  background-color: #2b3c46;
  border: 1px solid #6e7880;
  color: white;
  padding: 0.5rem 0.5rem;
  outline: none;
}
.btn-Success {
  height: 30px;
  background-color: #2b3c46;
  border: none;
  outline: none;
}
.btn-Success :hover {
  color: white;
  cursor: pointer;
  border: 1px solid #6e7880;
}
.auth-Page {

  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(./Components/Icons/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Nunito'
}
.auth-Buttons {
  display: flex;
  width: 25%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
a:hover{
cursor: pointer;
}
