@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-Container {
  display: flex;
  width: 100%;
  background-color: #2b3c46;
  color: #6e7880;
  font-family: "Nunito";
  font-size: 0.8rem;
}
/* .user-Container {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  border-right: 1px solid white;
  background-color: green;
} */

.profile-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  margin: 1rem 1.5rem 1rem 0rem;
}
.feature-Container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem 2rem 0rem;
  width:18%;
  border-right: 1px solid white;
}
.featureList {
  list-style: none;
}
.feature-Container ul li {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.feature-Container ul img {
  margin-right: 1.2rem;
}

.featureList li:hover {
  cursor: pointer;
  color: white;
}

.movie-Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

}
.header-movie-dashboard {
  display: flex;
  /* padding: 0.1rem 1rem; */
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 1rem;
  margin-top: 3rem; 
}
.search-Btn {
  background-color: #35967a;
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  margin-right: 2rem;
}
.poster-Container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.poster-Item {
  width: 200px;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float: left;
  text-align: center;
  word-wrap: break-word;
}
.imgTag {
  /* width: 70%;
  height: 230px; */
  margin-top: 3rem;
  border-radius: 5%;
}
.rating-Btn {
  background-color: #eea94c;
  padding: 0.5rem 0.5rem;
  position: relative;
  left: 90px;
  bottom: 60px;
  border-radius: 50%;
  color: #ffe19c;
  font-weight: bold;
  font-size: 0.8rem;
}

.search-Bar {
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: whitesmoke;
  outline: none;
  border-radius: 2%;
}
.search-Container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
  margin-right: 2rem;

}
