@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-Container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #2b3c46;
  color: #6e7880;
  font-family: "Nunito";
  font-size: 0.8rem;
}
.user-Container {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100vh;
  align-items: center;
  border-right: 1px solid white;
}
.movie-Container {
  display: flex;
  flex-direction: column;
  width: 82%;
  align-items: center;
  height: 100vh;
}
.profile-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  margin: 1rem 1.5rem 1rem 0rem;
}
.feature-Container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem 2rem 0rem;
}
.featureList {
  list-style: none;
}
.feature-Container ul li {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.feature-Container ul img {
  margin-right: 1.2rem;
}

.featureList li:hover {
  cursor: pointer;
  color: white;
}
